USE [master]
GO
/****** Object:  Database [SubredditDB]    Script Date: 02-May-24 11:00:16 PM ******/
CREATE DATABASE [SubredditDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SubredditDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SubredditDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SubredditDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SubredditDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SubredditDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SubredditDB]
GO
/****** Object:  Table [dbo].[Subreddit]    Script Date: 02-May-24 11:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subreddit](
	[SubredditID] [int] IDENTITY(1,1) NOT NULL,
	[SubredditName] [text] NOT NULL,
	[TimeCreated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubredditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subreddit_Moderator]    Script Date: 02-May-24 11:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subreddit_Moderator](
	[SubredditID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Subreddit_Moderator] PRIMARY KEY CLUSTERED 
(
	[SubredditID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubredditMember]    Script Date: 02-May-24 11:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubredditMember](
	[UserID] [int] NOT NULL,
	[SubredditID] [int] NOT NULL,
	[JoinTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SubredditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Subreddit] ON 

INSERT [dbo].[Subreddit] ([SubredditID], [SubredditName], [TimeCreated]) VALUES (1, N'r/nikon', CAST(N'2016-08-12T16:12:21.000' AS DateTime))
INSERT [dbo].[Subreddit] ([SubredditID], [SubredditName], [TimeCreated]) VALUES (2, N'r/samsung', CAST(N'2018-04-12T16:12:21.000' AS DateTime))
INSERT [dbo].[Subreddit] ([SubredditID], [SubredditName], [TimeCreated]) VALUES (3, N'r/Toyota', CAST(N'2015-09-16T14:16:45.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Subreddit] OFF
GO
INSERT [dbo].[Subreddit_Moderator] ([SubredditID], [UserID]) VALUES (1, 415)
INSERT [dbo].[Subreddit_Moderator] ([SubredditID], [UserID]) VALUES (1, 6766)
INSERT [dbo].[Subreddit_Moderator] ([SubredditID], [UserID]) VALUES (2, 603)
GO
INSERT [dbo].[SubredditMember] ([UserID], [SubredditID], [JoinTime]) VALUES (4, 2, CAST(N'2017-08-12T00:00:00.000' AS DateTime))
INSERT [dbo].[SubredditMember] ([UserID], [SubredditID], [JoinTime]) VALUES (5, 2, CAST(N'2016-09-09T00:00:00.000' AS DateTime))
INSERT [dbo].[SubredditMember] ([UserID], [SubredditID], [JoinTime]) VALUES (6, 2, CAST(N'2019-06-23T00:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[Subreddit_Moderator]  WITH CHECK ADD FOREIGN KEY([SubredditID])
REFERENCES [dbo].[Subreddit] ([SubredditID])
GO
ALTER TABLE [dbo].[SubredditMember]  WITH CHECK ADD FOREIGN KEY([SubredditID])
REFERENCES [dbo].[Subreddit] ([SubredditID])
GO
USE [master]
GO
